

@font-face {
  font-family: "Snavirus";
  src: url("https://cdn.jsdelivr.net/gh/Amethystaa/Izanamicodes@1495bdb6e520a44dbcf2bcdeddc8197a0f65c289/Snavirus.ttf") format("truetype");
}

@font-face {
  font-family: "Reftilian Stinger";
  src: url("https://cdn.jsdelivr.net/gh/Amethystaa/Izanamicodes@1495bdb6e520a44dbcf2bcdeddc8197a0f65c289/ReftilianStinger-Regular.ttf") format("truetype");
}

.izanami-container {
  --base: #4a4a4a;
  --glow: #e0e0e0;
  --bg: transparent;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
}


.izanami-dagger {
  position: absolute;
  opacity: 0.5;
  font-size: 45px;
  color: var(--groups);
  filter: drop-shadow(2px 3px 3px rgba(0,0,0,1));
  z-index: 10;
}

.top-left {
  top: -6px;
  left: -26px;
  transform: rotate(75deg);
}

.bottom-right {
  bottom: -6px;
  right: -26px;
  transform: rotate(-105deg);
}

.izanami-tablilla {
  padding: 65px 30px;
  font-family: "IM Fell French Canon", serif;
  color: var(--text);
  background-color: var(--bg);
  box-sizing: border-box;
  clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
  

  background-image: 

    radial-gradient(circle at 15px 0, transparent 14px, color-mix(in srgb, var(--groups) 15%, transparent) 15px, color-mix(in srgb, var(--groups) 15%, transparent) 16px, transparent 17px),
    radial-gradient(circle at 15px 0, transparent 14px, color-mix(in srgb, var(--groups) 9%, transparent) 15px, color-mix(in srgb, var(--groups) 9%, transparent) 16px, transparent 17px),
    radial-gradient(circle at 15px 0, transparent 14px, color-mix(in srgb, var(--groups) 4%, transparent) 15px, color-mix(in srgb, var(--groups) 4%, transparent) 16px, transparent 17px),
    radial-gradient(circle at 15px 0, transparent 14px, color-mix(in srgb, var(--groups) 1%, transparent) 15px, color-mix(in srgb, var(--groups) 1%, transparent) 16px, transparent 17px),

    radial-gradient(circle at 15px 30px, transparent 14px, color-mix(in srgb, var(--groups) 15%, transparent) 15px, color-mix(in srgb, var(--groups) 15%, transparent) 16px, transparent 17px),
    radial-gradient(circle at 15px 30px, transparent 14px, color-mix(in srgb, var(--groups) 9%, transparent) 15px, color-mix(in srgb, var(--groups) 9%, transparent) 16px, transparent 17px),
    radial-gradient(circle at 15px 30px, transparent 14px, color-mix(in srgb, var(--groups) 4%, transparent) 15px, color-mix(in srgb, var(--groups) 4%, transparent) 16px, transparent 17px),
    radial-gradient(circle at 15px 30px, transparent 14px, color-mix(in srgb, var(--groups) 1%, transparent) 15px, color-mix(in srgb, var(--groups) 1%, transparent) 16px, transparent 17px);
  
  background-size: 30px 30px;
  background-repeat: repeat-x;
  background-position: 
    0 0, 
    15px 15px, 
    0 30px, 
    15px 45px, 
    0 100%, 
    15px calc(100% - 15px), 
    0 calc(100% - 30px), 
    15px calc(100% - 45px);
}

.izanami-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.izanami-icon {
  font-size: 55px;
  color: var(--base);
  animation: toxicPulse 3.5s infinite ease-in-out;
}

.izanami-title {
  margin: 0;
  font-family: "Reftilian Stinger", serif;
  font-size: 70px;
  line-height: .9;
  text-align: center;
  font-weight: normal;
  background: linear-gradient(110deg, var(--base) 10%, var(--glow) 50%, var(--base) 90%);
  background-size: 200% auto;
  animation: slither 4s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 8px color-mix(in srgb, var(--glow) 40%, transparent);
}

.izanami-phrase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.3;
  font-size: 10px;
  text-align: center;
  margin: 15px 0;
  color: color-mix(in srgb, var(--text) 50%, transparent);
}

.izanami-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  padding: 10px 0;
}

.izanami-text::first-letter {
  font-family: "Snavirus", serif;
  font-size: 98px;
  line-height: .8;
  float: left;
  padding: 10px 15px 5px 0;
  color: var(--base);
  animation: toxicPulse 4s infinite ease-in-out alternate;
}


.izanami-line {
  height: 1px;
  width: 100%;
  margin: 35px 0 20px;
  background: linear-gradient(90deg, transparent 10%, var(--groups) 50%, transparent 90%);
  position: relative;
}


.izanami-line::after {
  content: "";
  position: absolute;
  top: -2.5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  background: var(--groups);
  box-shadow: 0 0 2px rgba(0,0,0,1);
}

.izanami-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 8.5px;
  text-transform: uppercase;
  letter-spacing: 0.98px;
  color: #c0c0c0;
}

.izanami-sep {
  font-size: 12px;
  color: var(--groups);
  filter: drop-shadow(0 1px 2px rgba(0,0,0,1));
}

@keyframes toxicPulse {
  0%, 100% {
    filter: drop-shadow(0 0 2px var(--base));
    color: var(--base);
  }
  50% {
    filter: drop-shadow(0 0 15px var(--groups));
    color: var(--glow);
  }
}

@keyframes slither {
  to {
    background-position: 200% center;
  }
}
